build/
DerivedData/

.DS_Store
*.log
*.xcarchive
*.dSYM
*.ipa
*.app/

*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xccheckout
*.xcscmblueprint

*.p8
*.p12
*.mobileprovision
*.provisionprofile
*.developerprofile
*.keychain-db

.env
.env.*
*.local
